<!-- views/pages/mathResults.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Math Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>You said to <strong><%= operation %> <%= num1 %></strong> by <strong><%= num2 %></strong>. Your result is <strong><%= result %></strong>.</h1>
</body>
</html>