<!-- views/pages/postalResults.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Postal Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Postal Results</h1>
    <p>Weight of mail (oz): <strong><%= weight %></strong></p>
    <p>Mail type: <strong><%= type %></strong></p>
    <p>Cost: <strong><%= cost %></strong></p>
</body>
</html>